body {
    text-align : center;
}

canvas {
    display : block;
    margin : auto;
    padding : 0;
    border : none;
    background-color : black;
}

button {
    display : block;
    font-size : 14px;
    margin : auto;
    width : 100px;
}
