body {
    /*text-align : center;*/
    margin-left: 1%;
}

canvas {
    display : block;
    width : 1280px;
    height : 720px;
    /*margin : auto;*/
    margin-left: 1%;
    padding : 0;
    border : none;
    background-color : black;
}

button {
    display : block;
    font-size : inherit;
    margin : auto;
    padding : 0.6em;
}
